*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/* universal color area */
.dark-1{
    color: rgb(24, 24, 24);
}
.dark-2{
    color: rgb(71, 71, 71)
}
.dark-3{
    color: rgb(71, 71, 71)
}
/* universal button area */
.btn{
    padding: 15px 28px;
    background-color: rgb(253, 110, 10);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.name{
    font-size: 40px;
    font-weight: 700;
}
.name_span{
    color: rgb(253, 110, 10);
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin: 20px;

}
nav ul a{
    text-decoration: none;
}
.header-image{
    background-image:  url("../images/developer.png"), url("../images/header_bg.png");
    background-color: rgb(255, 248, 243);
    background-repeat: no-repeat;
    background-position: center left, bottom right;
    background-size: 7%, 60%;
    margin: 0 10px 0 15px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 25px 0 200px;
}
.my-image{
    width: 550px;
    height: 645px;
}
.gretings{
    font-size: 35px;
    color: rgb(71, 71, 71);
    font-weight: 600;
    margin-bottom: 10px;
}
.Main-name{
    font-size: 50px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    margin-bottom: 20px;
}
.description{
    font-size: 15px;
    font-weight: 400;
    color: rgb(71, 71, 71);
    margin: 20px 0 25px 0;
}
#dow-btn{
    margin-right: 20px;
}
.con-btn{
    padding: 15px 28px;
    border: 2px solid rgb(253, 110, 10);
    background-color: white;
    border-radius: 5px;
    color: rgb(253, 110, 10) ;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
/* about me */
.about-me{
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 248, 243);
    margin-top: 100px;
    padding: 120px 150px;
}
.about-content{
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
.about-title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.about-description{
    font-size: 15px;
    font-weight: 400;
}
.about-contact{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.con-title{
    font-size: 15px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-bottom: 10px;
}
.cont-descriptions{
    font-size: 15px;
    font-weight: 400;
    color: rgb(71, 71, 71);
}
.skill-sections{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.skills-div{
    text-align: center;
}
.skill-title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.skill-description{
    font-size: 14px;
    font-weight: 400;
}
.skill-card{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.card-skills{
    padding: 20px;
    box-shadow: 0 6px 50px 0 rgb(216, 215, 215);
}
.programm-title{
    margin: 15px 0 15px 0;
    font-size: 15px;
    font-weight: 700;
}
.programm-description{
    font-size: 13px;
    font-weight: 400;
}
.section-3{
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 70px;
}
.My-resume{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.resume-contineur{
    display: flex;
    margin: 70px;
    gap: 50px;
}
.edcation-master{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exam-title{
    font-size: 20px;
    font-weight: 700;

}
.course-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.university{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
}
.course-discription{
    font-size: 12px;
    font-weight: 600;
}